@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
}

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
  
  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
/* .body-content {
  margin-left: 250px;
  width: calc(100% - 250px); 
} */
